<html>
<body>

 <a href="www.gmail.com">You can sign in to Odyssey email by clicking this!</a>

Your password is <em>${pass}<em> (make sure to include the spaces and exclamation point). 
<br> 
You will then be prompted to create a new password - it has to be at least 15 characters long, but does not require any special characters; a memorable sentence is a good choice. 
 
</body>
</html>
