Congratulations on completing your Onboarding.  You can access all of Odyssey's tools
and etc at http://projectOdyssey.com

One of your first activities will be to complete your benefits selection.  Once you reset your
Odyssey provided Google account's password you can then log in to Ultipro at 
http://up.odysseyconsult.com

